<div class="container__big-card">

  <div class="big-card__photo">
    <img src="http://lorempixel.com.br/500/300" alt="">
  </div>

  <div class="big-card__title">
    <a href="#">
      <h1>Saiu a nova versão do Angular</h1>
    </a>
  </div>

  <div class="big-card__description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos voluptatibus ut, earum atque recusandae accusamus. Laborum eos nemo error libero voluptates asperiores maxime provident explicabo. Saepe unde nostrum doloremque asperiores.
      </a>
    </p>
  </div> 

</div>